<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Video to Gif Converter</title>
    <style>

    </style>

<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets/funny-computer-animated-gif-29.gif" alt="" width="70" height="50"
                    class="d-inline-block align-text-top">
                <span class="auto-type"
                    style="font-size: 40px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"></a></span>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            var typed = new Typed(".auto-type", {
                strings: ["Video to Gif Convertor "],
                typeSpeed: 100,
                backspeed: 100,
                loop: true
            })
        </script></span>
        </a>
        </div>
    </nav>
    <div class="container">
        <h1>
            Select the video you want to convert!!
        </h1>
        <br>
        <form method="post" enctype="multipart/form-data">
            <p> Upload File:
            </p>
            <input type="file" name="file" accept="video/mp4" required>
            <input type="number" name="duration" id="duration" placeholder="Duration (in seconds)" min="1" max="60"
                required>
            <input type="submit" value="Upload">
        </form>
    </div>
</body>


</html>