<!doctype html>
<html>

<head>
    <title>Upload Video</title>
</head>
<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 50vh;
        max-width: 100vh;
        margin: auto;
        width: 50%;
        padding: 10px;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: baseline;
    }

    form>input {
        margin: 5px;
        padding: 5px;
    }
</style>

<body>
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">
        Video to Gif Converter
    </h1>
    <form method="post" enctype="multipart/form-data">
        <p> Upload File:
            <input type="file" name="file">
        </p>
        <p>Enter Duration of the Gif
            <input type="text" name="duration" id="duration">
        </p>
        <input type="submit" value="Upload">
    </form>
</body>

</html>